<p>Dear esteemed comrade admin <%= @admin.full_name %>,</p>
<p>Comrade <%= @user.full_name %> has created and account and validated the associated email</p>
<p>Please access the link below to access the admin panel and approve the account. </p>
<p> <%= link_to 'Admin Panel', admin_dashboard_index_url %> </p>
<p>My deepest love and admiration,</p>
<p>The Undefined</p>
