<p>Hello <%= @user.full_name %>,</p>
<p>We've received a request to create a new account associated with this email address for Undefined Drills.</p>
<p>If you did not make this request, please ignore this email.</p>
<p>To validate your email, click the link below: </p>
<p> <%= link_to 'Validate Email', @link %> </p>
<p>Yours forever and always,</p>
<p>The Undefined</p>
