<div class="row">
  <br><br>
  <h1 align="middle">Groups</h1>
</div>
 <br>
<% if can?(:manage, @groups) %>
  <div align="middle"><%= link_to "Create a New Group", new_group_path, class:"btn-custom-group" %></div>
  <br>
  <% end %>
<br>
<div class="container-fluid well well-lg">
  <% @groups.each do |x| %>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="group">
        <div class="image_wrapper">
          <img src="https://unsplash.it/200/200/?random" alt="">
            <h3 align="middle"><%= link_to x.title, group_drills_path(x) %></h3>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="group">
        <div class="image_wrapper">
          <img src="https://unsplash.it/200/200/?random" alt="">
          <h3 align="middle"><%= link_to x.title, group_drills_path(x) %></h3>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <div class="group">
        <div class="image_wrapper">
          <img src="https://unsplash.it/200/200/?random" alt="">
          <h3 align="middle"><%= link_to x.title, group_drills_path(x) %></h3>
        </div>
      </div>
     </div>
   </div>

      <% end %>
    <%#end %>
</div>
