
<div class="container-fluid" align="middle">
<h1>Your Bookmarks</h1>
<h1><i class="fa fa-bookmark" aria-hidden="true"></i></h1>
<hr>


<%  @groups.each do |x|%>
  <h3> <%= link_to "#{x.title}", group_drills_path(x) %></h3>
<% end %>

</div>
