<!-- <h1>Useful Links</h1> -->
<!-- <a href="/groups/1/drills">Link to groups/1/drills</a> -->
</div>


<%= video_tag ("carousel.mp4"), autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>


<section id="cover">
    <div id="cover-caption">
       <div>
        <h1>Undefined<i class="fa fa-circle-o-notch main_logo" aria-hidden="true"></i>Drills</h1>
        <a href="/groups"><div class="btn btn-primary btn-outline">Engage</div></a>
        </div>
    </div>
</section>
<div class='container'>
