<!-- <h1>Useful Links</h1> -->
<!-- <a href="/groups/1/drills">Link to groups/1/drills</a> -->
</div>

<%#= video_tag ("carousel.mp4"), autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>

<section id="video-section">
  <div id="video-container">
    <%= video_tag ("carousel.mp4"), autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
   <div class="header content">
    <h1 id="h1-intro">Welcome to Undefined Drills</h1>
      <p id="p-intro">Develop your skills</p>
        <div>
           <div>
            <h2 id="h2-intro">Undefined<i class="fa fa-circle-o-notch main_logo" aria-hidden="true"></i>Drills</h2>
            <%= link_to "Engage", groups_path, class: "btn btn-custom btn-lg btn-outline" %>
            </div>
        </div>
      </div>
    </div> <!-- video-container -->
</section>

<div class='container'>
