<!-- <h1>Useful Links</h1> -->
<!-- <a href="/groups/1/drills">Link to groups/1/drills</a> -->
</div>


<%#= video_tag ("carousel.mp4"), autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>

<section id="video-section">
  <div id="video-container">
    <%= video_tag ("carousel.mp4"), autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
   <div class="header content">
    <h1>Welcome to Undefined Drills</h1>
      <p class="intro">Develop your skills</p>
        <div>
           <div>
            <h1>Undefined<i class="fa fa-circle-o-notch main_logo" aria-hidden="true"></i>Drills</h1>
            <a href="/groups"><div class="btn btn-primary btn-outline">Engage</div></a>
            </div>
        </div>
      </div>
    </div> <!-- video-container -->
</section>


<!-- <section id="cover">
  <%= video_tag ("carousel.mp4"), autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>


</section>
<div class='container'> -->
