<h1>Drills</h1>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="#">My Drills</a></li>
  <li role="presentation"><a href="#">All Drills</a></li>
</ul>

<div>
  <% @drills.each do |d| %>
    <div class='drills-container'>
      <%= link_to d.title, drill_path(d) %>
    </div>
<h1 style="text-align:center">All Drills</h1>
<div>
  <% @drills.each do |d|  %>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2"><%= link_to d.title, drill_path(d) %> </div>
  <% end %>
</div>
