<p>Hello <%= @user.full_name %>,</p>
<p>We've received a request to reset your password for Undefined Drills.</p>
<p>If you did not make this request, please ignore this email.</p>
<p>To reset your password, click the link below: </p>
<p> <%= @link %> </p>
<p>Yours forever and always,</p>
<p>The Undefined</p>
