$color1: #F0F0F0;
$color2: #7689A9;
$color3: #18bc9c;

$border-radius-base: 0;
$brand-primary: white;
$gray-base: $color2;
$body-bg: $color1;
$text-color: #051938;
$navbar-default-bg: #383838;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: $color3;
$navbar-default-link-active-color: $color3;
$navbar-default-border: darken($navbar-default-bg, 6.5%);
$navbar-default-link-hover-bg: darken($navbar-default-bg, 6.5%);
$navbar-default-brand-hover-color: $color3;
// $link-color: ;
// $link-hover-color: ;
// $navbar-default-color: ;
// $navbar-default-link-active-bg:
