/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap_overrides
 *= require_tree .
 *= require_self
 */
 @import 'variables';

 html {
  margin-top: 50px
 }

 .btn {
  transition: all .5s ease;
 }
 .btn-custom:hover, .btn-primary:hover {
  border-radius: 30px;
  border-color: #18bc9c ;
 }

 h1, h2, h3, h4, h5 {
  font-family: 'Cabin', sans-serif;
 }

h4 {
  color: $color4;
}


 p, a {
  font-family: 'Roboto', sans-serif;
  color: $color6;
 }

.btn-universal {
  background: none;
  color: $color3;
  border: 1px solid $color3;
  padding: 8px 17px;
  @include border-radius(3px);
  @include transition(all 0.4s ease-in);
  &:hover {
    background: $color3;
    color: #fff;
    text-decoration: none;
  }
}


.score {
  position: fixed;
  bottom: 90px;
  right: 90px;
  z-index: 5000;
}
