// Place all the styles related to the drills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .drills-animation {
//   top: 200px;
//   animation: x 5s forwards;
// }

// .drills-container {
//   max-width: 100%;
//   border: 1px solid grey;
//   max-height: 100%;
//   display: flex;
//   justify-content: space-around;
//   flex-flow: wrap;
// }

@import 'variables';
.drill-container {
  text-align: center;
  color: white;
  background-color: transparentize($color5, 0.1);
  padding: 1vw;
  height: 30vh;
}
.well {
  border-color: $color3;
}

.well-container {
  height: 30vh;
  padding:10px;
  border-color: $color4;
  background-color: $color4;

}

h4 {
  color: white;
}



.big-well {
  background-color: $color4;
}



// .title {
//   text-align: center;
//   padding-top: 5px;
// }

.btn {
  // margin: 40px;
  // padding: 10px 20px 10px 20px;
}

.drills-container a {
  text-decoration: none;
}

.userDrills {
  display: none;
}

.userDrills {
    max-width: 100%;
    border: 1px solid black;
    height: 500px;
}



//
// .drills-container a {
//   text-decoration: none;
// }
//
// @keyframes x {
//     0% {
//         opacity: 0
//     }
//     100% {
//         opacity: 1;
//         transform: translateX(540px)
//     }
// }
