// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

.group {
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  @include border-radius(5px);
  margin-bottom: 40px;
  padding: 8px;
  .image_wrapper {
    max-width: 100%;
    @include border-radius(5px 5px 0 0);
    overflow: hidden;
  }
  img {
    width: 100%;
    @include transition(all 0.4s ease-out);
    &:hover {
      transform: scale(1.075);
    }
  }
  h3 {
    padding: 15px 5%;
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.5;
    a {
      color: $color3;
      @include transition(all 0.4s ease-in-out);
      &:hover {
        background: $color3;
        color: #fff;
        text-decoration: none;
        border: 1px solid $color3;
        padding: 8px 17px;
        @include border-radius(3px);

      }
    }
  }
}

/* buttons */

.btn-custom-group {
  background: none;
  color: $color3;
  border: 1px solid $color3;
  padding: 8px 17px;
  @include border-radius(3px);
  @include transition(all 0.4s ease-in);
  &:hover {
    background: $color3;
    color: #fff;
    text-decoration: none;
  }
}
