// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';


html,body{
    height: 100%;
}

#cover-caption {
    width: 100%;
    background-color: transparentize($color4, 0.2);
}

.cover h1 {
  color: white;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: white;
}
.btn-primary.btn-outline:hover {
    color: white;
}

/* video background */
.video {
  background: linear-gradient(to right, rgb(37,221,245) 0%, rgb(166,255,203) 100%);
 position: fixed;
 top: 50%; left: 50%;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
}
#video-container .content {
  padding-top: 10%;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  color: #fff;
  text-align: center;
  background: rgba(0,0,0,0.5);
  -webkit-transition: opacity 2s ease;
  transition: opacity 2s ease;
  background:  url(https://media.giphy.com/media/3o85gd3noLuSkE4Lkc/giphy.gif) no-repeat center center fixed;
  background-size: cover;
}

.header h1 {
    margin: 0;
    padding: 13px;
}
/* intro paragraph */
#p-intro {

  color:white;
  letter-spacing: 4px;
  font-size: 22px;
  padding: 0 0 8px 0;
}
#h1-intro {
  font-size: 56px;
  letter-spacing: 4px;
}
#h2-intro {
  letter-spacing: 4px;
  font-size: 46px;
  color: white;
}

span#typed {
  letter-spacing: 4px;
  font-size: 28px;
  color: white;
  position: relative;
  text-shadow: none;
}

span#typed-cursor {
  margin: auto;
  font-size: 32px;
}

.typed-cursor{
    opacity: 1;
    font-size: 32px;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Will's button */

.btn-custom {
  color: #fff;
  padding: 8px 27px;
  border: 1px solid #fff;
  background-color: transparent;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  @include border-radius(3px);
  @include transition(all 0.4s ease-in-out);
 &:hover {
    color: #fff;
    border: 1px solid #fff;
    background-color: $color3;
    @include border-radius(3px);
 &:active {
    background-color: $color3;
    color: #fff;
   }
  }
}


.intro-title{
  padding: 30px 0px;
  background-color: none;
  transition: all 2s ease;
  border-top: thin solid transparentize($color4,1);
  border-bottom: thin solid transparentize($color4,1);
}

.intro-title-hover {
  border-top: thin solid $color3;
  border-bottom: thin solid $color3;
  transition: all 2s ease;
  padding: 30px 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparentize($color4,0.6);
}

.floating_alert {
    position: fixed;
    top: 60px;
    left: 30px;
    z-index: 5000;
}
