// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';


html,body{
    height: 100%;
}

#cover {
    background: #222 url('http://unsplash.it/1920/2880?image=618') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
    background-color: transparentize($color4, 0.2);
}

.cover h1 {
  color:white;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: white;
}
.btn-primary.btn-outline:hover {
    color: white;
}

/* video background */
.video {
  background: linear-gradient(to right, rgb(37,221,245) 0%, rgb(166,255,203) 100%);
 position: fixed;
 top: 50%; left: 50%;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
}
#video-container .content {
  padding-top: 15%;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  color: #fff;
  text-align: center;
  background: rgba(0,0,0,0.5);
  -webkit-transition: opacity 2s ease;
  transition: opacity 2s ease;
}

.header h1 {
    margin: 0;
    padding: 13px;
}
/* intro paragraph */
#p-intro {
  letter-spacing: 4px;
  font-size: 22px;
  padding: 0 0 8px 0;
}
#h1-intro {
  font-size: 56px;
  letter-spacing: 4px;
}
#h2-intro {
  letter-spacing: 4px;
  font-size: 46px;
}

/* Will's button */

.btn-custom, .btn-lg {
  color: #fff;
  padding: 8px 27px;
  border: 1px solid #fff;
  background-color: transparent;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  @include border-radius(3px);
  @include transition(all 0.4s ease-in-out);
 &:hover {
    color: #fff;
    border: 1px solid #fff;
    background-color: $color3;
    @include border-radius(3px);
 &:active {
    background-color: $color3;
    color: #fff;
   }
  }
}
